@import './variables.scss';

.container{
  max-width: 750px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #f0f0f0;

  &.product{
    padding-bottom: 16px;
  }
}

img{
  max-width: 100%;
}

.product{
  &__wrap{
    background-color: $sec-color;
    padding: 24px 16px;
    border-radius: 12px;
  }
}